.cover__link {
  position: relative;
  text-decoration: none;
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  z-index: 1;
}

.cover__link::before {
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  width: 100%;
  min-height: 740px;
  transition: opacity 1s;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }

  .cover__link::before {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }

  .cover__link::before {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
    gap: 16px;
  }

  .cover__link::before {
    min-height: 200px;
  }
}
