.place__paragraphs {
  display: flex;
  gap: 26px;
  flex-direction: column;
  grid-row: 2;
  grid-column: 2;
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    grid-row: 4;
    grid-column: 1;
    padding-left: 16px;
    padding-right: 16px;
  }
}
