.margin-top__large {
  margin-top: 92px;
}

@media screen and (max-width: 1023px) {
  .margin-top__large {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .margin-top__large {
    margin-top: 64px;
  }
}
