.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  position: absolute;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}


@media screen and (max-width: 1279px) {
  .cover__overlay{
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
}
