.place {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-template-rows: repeat(2, minmax(0, auto));
  gap: 48px 40px;
}

@media screen and (max-width: 767px) {
  .place {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(0, auto));
  gap: 32px;
  }
}
