.footer {
  width: 100%;
  margin: 92px auto 24px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    margin-top: 64px;
  }
}
